
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/*
!temp/tsconfig.cocos.json
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

# tooling
coverage/
dist/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Git worktrees
#//////////////////////////
.worktrees/